/* *, *:before, *:after {
  box-sizing: border-box;
}
.wrap {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.wrap .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/167792/mountains_copy.jpg") no-repeat center center;
  background-size: cover;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
} */ 


.hero-image {
    top: -65px;
    position: absolute;
    width: 100%;
      box-shadow: 0px 1px 10px #999;
          left: 0;


}

.tatoo-machine {
    position: absolute;
    margin-left: 83%;
    top: 400px;
  }
  .tattoo-machine-copy{
      position: absolute;
      margin-left: 85.5%;
      top: 352px;
      text-align: center;
      color: black;
      font-size: larger;
  }
 
  .tatoo-machine:hover {
    cursor: pointer;
  }
  .tattoo-machine-copy:hover {
    cursor: pointer;
  }

  .home-map {
    position: absolute;
    top: 110%;
    width: 90%;
    left: 5%;
    height: 100%;
    
  }

  .home-map-title {
    text-align: center;
    margin-top: 40px;
    font-family: 'Cinzel Decorative', cursive;

  }

  .see-all-button {    
    text-align: center;
    position: absolute;
    top: 207%;
    left: 43.5%;
    text-decoration: none;
    color: black;
    font-family: 'Cinzel Decorative', cursive;
    text-decoration: underline;
    padding-bottom: 10px;
  }

  .bottom-of-page {
     text-align: center;
    position: absolute;
    top: 207%;
    left: 43.5%;
    text-decoration: none;
    color: black;
    font-family: 'Cinzel Decorative', cursive;
    text-decoration: underline;
    padding-bottom: 10px;
  }

/* CSS ANIMATIONS */


.updown {
  animation: MoveUpDown 1s linear infinite;
  /* position: absolute; */
  /* left: 0;
  bottom: 0; */
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 100px;
  }
}


img.vert-move {
    -webkit-animation: mover 0.7s infinite  alternate;
    animation: mover 0.7s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-15px); }
}
