/* .NavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.NavBar button {
    height: 20px;
}

.Links1 {
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.Links2 {
    width: 400px;
    display: flex;
    justify-content: space-between;
} */

.navbar {
    display: flex;
    justify-content: space-between;

}

.HAFH_logo {
    margin-left: 20px;
}

.nav {
    margin: 40px;
}

.nav a {
    margin-left: 10px;
}

.nav button {
    margin-left: 10px;
}

.accomodations_container {
    margin: 40px;
}