.column {
    float: left;
    width: 30%;
    /* border: solid; */
    margin-left: 2.5%;
    margin-bottom: 2.5%;
    height: 600px;
    overflow: hidden;
    border-bottom: solid #f9f9f9f9;
    border-radius: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.shop-title {

    text-align: center;
    margin-top: 0;
}

.shop-photo {
    width: 100%;
    /* max-height: 470px; */
    /* height: 470px; */

    height: 73%;
}

.shops-title {
    text-align: center;
    font-family: 'Cinzel Decorative', cursive;
    text-decoration: underline;
}

.shop-form {
    display: flex;
    width: 50%;
    padding-left: 25%;
}

.shop-price {
    padding-left: 31px;
    padding-top: 10px;
}

.whole-page {
    /* position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100000;
    background: white; */

    position: absolute;;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    /* height: 100%; */
    /* background:rgba(255,255,255,0.5); */
    background: white;
    z-index: 100;
    border-bottom: solid black;
    /* overflow: hidden; */
}

.close-detail {
    /* set to an x image */
}

.close-detail {
  /* background-color: grey;
  text-align: center; */
}

button {
  background: none;
  border: 0;
  box-sizing: border-box;
  color: transparent;
  cursor: pointer;
  line-height: 60px;
  
    margin: 50px 0 0;
    outline: none;
    margin-left: 95%;
  overflow: hidden;
  padding: 0;
  position: absolute;
  text-transform: uppercase;
  transition: all 0.2s ease-in;
  width: 60px;
  z-index: 1000;
      font-family: 'Cinzel Decorative', cursive;
      font-size: large;

}

button::before,
button::after {
  background-color: white;
  content: "";
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  transform-origin: center left;
  transition: all 0.2s ease-in;
  width: 100px;
  z-index: -1;
  /* border-radius: 5px; */
}

button::before {
  top: 0;
  transform: rotate(45deg);
}

button::after {
  bottom: 0;
  transform: rotate(-45deg);
    /* border-radius: 5px; */

}

button:hover {
  color: black;
}

button:hover::before,
button:hover::after {
  height: 30px;
  transform: rotate(0deg);
    border-radius: 2px;

}





/* Move into transitions.css */

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1.5s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.fade-in-delayed {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 3s;
}

.threed:hover
{
        box-shadow:
                1px 1px #C3C3C3,
                2px 2px #C3C3C3,
                3px 3px #C3C3C3;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
        transition:all 0.3s ease;
}


.grow:hover
{
        -webkit-transform: scale(1.01);
        -ms-transform: scale(1.01);
        transform: scale(1.01);
        transition:all 0.3s ease;

        cursor: pointer;
}

.border-inset:hover
{
        box-shadow: inset 0 0 0 3px #53a7ea;
        transition:all 0.3s ease;
}

